body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #4D4D52;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

.logo {
    display: inline-block;
    padding-top: 20px;
}

.main-navigation {
    margin: 30px 0px;
    text-align: left;
}

.main-navigation ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-navigation li {
    display: inline-block;
    margin: 0px 20px;
}

.main-navigation a {
    font-size: 16px;
    color: #4D4D52;
    font-weight: 600;
    text-decoration: none;
}

.main-block {
    background-color: #EBF5FF;
    padding: 60px 0px;
}

.main-block-bg {
    background: url("../images/main-pic.png") right center no-repeat; /*можно кратко вот так написать*/
    /* background-image: url("../images/main-pic.png");
    background-repeat: no-repeat;
    background-position: 100% 50%; */
}

.main-info {
    width: 56%;
}

.main-title {
    margin-top: 0px;
    font-weight: 800;
    font-size:44px;
    color:#7872B9;
}



.main-text {
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height:1.5;
}

.link-class {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    color: #7872b9;
    line-height: 1.4;
    border: 2px solid #7872b9;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 30px;
    
}


.card {
    border-radius: 10px;
    padding: 30px 0px 90px 0px;
    padding-left:20%;
    margin: 30px 0px;
    text-align: top;
}

.card-title {
    margin-top: 120px;
    font-weight: 800;
    font-size: 40px;
    color: #7872B9;
    line-height: 1.3;
    text-align: center;
    
}

.card-title-h2 {
    font-weight: 600;
    font-size: 24px;
    color: #4d4d52;
    line-height: 1.5;
    margin: 0 0 30px 0;
}

.card-text-p {
    font-weight: 400;
    font-size: 18px;
    color: #4d4d52;
    line-height: 1.4;
    margin: 0px;
}

.card-block-bg1 {
    background: url("../images/rocket.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #EBF5FF;
 }

.card-block-bg2 {
    background: url("../images/chat.png");
    background-repeat: no-repeat;
    background-color: #EBF5FF;
}

.card-block-bg3 {
    background: url("../images/bulb.png");
    background-repeat: no-repeat;
    background-color: #EBF5FF;
}

.doc {
    margin: 0px 0px;
}
.doc-text{
    margin: 0px;
    font-weight: 600;
    font-size: 24px;
    color: #4d4d52;
    line-height: 1.4
}

.doc-title {
    margin: 0px 0px;
    font-weight: 800;
    font-size: 40px;
    color:#7872b9;
}

.card-block-bg4 {
    background: url("../images/book.png");
    background-repeat: no-repeat;
    background-color: #EBF5FF;
}

.card-block-bg5 {
    background: url("../images/watch.png");
    background-repeat: no-repeat;
    background-color: #EBF5FF;
}

.card-block-bg6 {
    padding-left: 10%;
    /* background: url("../images/watch.png"); */
    /* background-repeat: no-repeat; */
    background-color: #EBF5FF;
}

.footer {
    background-color: #EBF5FF;
    padding: 60px 0px;
    margin-top: 120px;
}

.footer li {
    display: inline-block;
    margin: 10px 0px;
    margin-right: 20px;
    
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer-link {
    font-weight: 600;
    font-size: 18px;
    color: #7872B9;
}

.footer-ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #4D4D52;
}

.footer p {
    font-weight: 400;
    font-size: 14;
    color:#4D4D52;
}


