body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
}

clearfix::after {
    content: "";
    clear: both;
    display: block;
}